.dsx{
    font-size: 4ch;
    font-weight: 600;
    text-align: center;
}
.footer{
    position: absolute;
    bottom: 100px;
}
.background{
    background-color:blueviolet;
    width: 1420px;
    height:100px;
    margin: -50px;
}
.text-footer{
    text-align: right;
}
.img-footer{
    width: 50px;
    float: left;
}