.verh {
    display: flex;
    background-color: rgb(158, 140, 238);
    margin: auto;
    padding: 0px 1px;
}

.verh img {
    height: 100px;
    width: 100px;
    margin: 10px;
}

.verh h2 {
    color: white;
    font-size: 20px;
}

.verh h1 {
    color: white;
    font-size: 30px;
}

.btns {
    display: flex;
    background-color: rgb(115, 101, 177);
    margin: auto;
}

.btns button {
    color: white;
    background-color: rgb(115, 101, 177);
    border-color: rgb(115, 101, 177);
    padding: 5px 40px;
}

.naz {
    display: flex;
    background-color: rgb(206, 198, 241);
    margin: auto;
}

.naz button {
    color: white;
    background-color: rgb(206, 198, 241);
    border-color: rgb(206, 198, 241);
}

.naz h1 {
    color:rgb(62, 36, 110);
    font-size: 20px;
}

.dsx{
    font-size: 4ch;
    font-weight: 600;
    text-align: center;
}
.footer{
    bottom: 100px;
    margin-top: 150px;
}
.background{
    background-color:rgb(158, 140, 238);
    width: 1420px;
    height:100px;
    margin: -50px;
}
.text-footer{
    text-align: right;
}
.img-footer{
    width: 50px;
    float: left;
}


.inner-rectangle{
    background-color:rgb(167, 43, 43);
    width: 400px; /* Ширина внешнего прямоугольника */
    height: 450px; /* Высота внешнего прямоугольника */
    display: flex;
    padding: 10px;
    margin-top: 10ch;
    margin-left: 57ch;
}


.outer-rectangle {
    width: 600px; /* Ширина внешнего прямоугольника */
    height: 450px; /* Высота внешнего прямоугольника */
    display: flex;
    padding: 10px;
    font-size: 16px; /* Размер шрифта */
    text-align: left; /* Выравнивание текста по левому краю */
    overflow-y: auto; /* Прокрутка по вертикали, если текст не помещается */
    background-color:rgb(255, 255, 255); /* Цвет внешнего прямоугольника */
    margin-top: 10ch;
    margin-left: 40ch;
    border: 2px solid rgba(0, 0, 0, 0.333)
}
